{% load render_bundle from webpack_loader %}
{% load static %}
<!DOCTYPE html>
<html lang="ja" class="has-navbar-fixed-top">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css">
    <title>mDoc 自分だけのドキュメント管理</title>
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@mDocSupportTeam" />
    <meta property="og:url" content="https://www.mdoc.me/login/?next=/" />
    <meta property="og:title" content="mDoc 自分だけのドキュメント管理" />
    <meta property="og:site_name" content="mDoc" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="Markdownで書く、クローズドな自分だけのドキュメント管理ツール" />
    <meta property="og:image" content="http://www.mdoc.me/static/images/mdoc-screenshot-min.jpg" />
    <meta property="fb:app_id" content="2279403225676566" />
  </head>
  <body>
    <main>
      {% csrf_token %}
      <div id="app"></div>
      {% render_bundle 'app' %}
    </main>
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  </body>
</html>
