<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>mDoc</title>
  </head>
  <body>
    <div style="margin: 100px;">
      <h1>プライバシーポリシー</h1>
      <br>
      <p>
      mDoc運営事務局(以下、「当事務局」といいます。)は、当事務局の提供するmDoc(以下、「当事務局サービス」といいます。)をご利用いただくお客様の個人情報を保護するため、個人情報保護に関する法律その他の関連法令・ガイドラインを遵守するとともに、個人情報を以下のとおり取り扱うこととします。
      </p>
      <br>
      <p>第1条 (個人情報の定義)</p>
      <p>
      本ポリシーにおいて、個人情報とは、個人情報保護法第2条第1項により定義された個人情報、すなわち、生存する個人に関する情報であって、当該情報に含まれる氏名、生年月日その他の記述等により特定の個人を識別することができるもの(他の情報と容易に照合することができ、それにより特定の個人を識別することができることとなるものを含みます。)を意味するものとします。
      </p>

      <br>
      <p>第2条 (当事務局サービスでの個人情報の利用目的)</p>
      <p>当事務局は、当事務局サービスの利用を通じて取得したお客さまの個人情報を、お客様ご本人の同意なく利用目的の範囲を超えて利用することはありません。当事務局が取得した個人情報は、下記の目的の範囲内で適正に取り扱いさせていただきます。
      </p>
      <ul>
        <li>ご本人様確認</li>
        <li>当事務局サービスの提供</li>
        <li>サービスの利用に伴う各種連絡</li>
        <li>お客様の年齢、職業、性別、趣味等に合わせた当事務局サービス上の情報、広告配信のカスタマイズ</li>
        <li>当事務局サービスの品質向上、改善</li>
        <li>当事務局サービスの停止・中止・契約解除の通知</li>
        <li>当事務局サービスの利用規約に違反する行為に対する対応及び当該違反行為の防止</li>
        <li>当事務局サービスに関する当事務局の規約、ポリシー等の変更などの通知</li>
        <li>紛争、訴訟などへの対応</li>
        <li>当事務局サービスに関するご案内、お問い合わせ等への対応</li>
        <li>当事務局サービスの運用に伴う一時的なバックアップ保管</li>
        <li>その他前各号の業務に付随する目的のため</li>
      </ul>

      <br>
      <p>第3条 (利用目的の変更)</p>
      <p>
      当事務局は、前条の利用目的を、変更前の利用目的と相当の関連性を有すると合理的に認められる範囲内において変更することがあり、変更した場合には、当事務局が別途定める方法により、お客様に通知又は公表します。
      </p>

      <br>
      <p>第4条 (個人情報の取得)</p>
      <p>1. 当事務局は、偽りその他不正の手段によらず、適正に個人情報を取得します。</p>
      <p>2. 当事務局は、お客様による当事務局サービスの利用を通じた取得以外の方法で個人情報を取得する場合には、当事務局が別途定める方法により、その利用目的を事前に通知又は公表します。</p>

      <br>
      <p>第5条 (安全管理)</p>
      <p>1. 当事務局は、個人情報の漏洩、滅失又は毀損の防止その他の個人情報の安全管理のために必要かつ適切な措置を講じます。</p>
      <p>2. 当事務局は、個人情報の取扱いの全部又は一部を第三者に委託する場合は、当該第三者との間で本ポリシーに準じる内容の秘密保持契約等をあらかじめ締結するとともに、当該第三者において個人情報の安全管理が図られるよう、必要かつ適切な監督を行います。</p>

      <br>
      <p>第6条 (メールアドレスの取扱い)</p>
      <p>1. 当事務局は、当事務局サービスの利用を通じて取得したお客様のメールアドレスについて、紛失、盗難、破壊、改ざん、漏洩、外部からの不正なアクセスを未然に防ぐために、個人情報に関する法令及びその他の規範を遵守し、その保護に万全を尽くします。</p>
      <p>2. 当事務局は、「重要なお知らせ」など、当事務局からお客様への連絡が必要な通知に関しては、全てのお客様にお送りしています。</p>

      <br>
      <p>第7条 (Cookie その他の技術の利用)</p>
      <p>1. 当事務局サービスのウェブサイトには、「Cookie(クッキー)」と呼ばれる技術及びこれに類する技術を使用しているページがあります。</p>
      <p>2. Cookie とは、ウェブサーバがお客様のコンピュータを識別する業界標準の技術です。Cookie は、お客様のコンピュータを識別することはできますが、お客様個人を識別することはできません。なお、ブラウザによっては、その設定を変更して Cookie の機能を無効にすることはできますが、その結果ウェブページ上のサービスの全部又は一部が利用できなくなることがあります。</p>

      <br>
      <p>第8条 (外部サービス・リンク)</p>
      <p>当事務局は、Line、Facebook、Google 等の外部サービス(以下「外部サービス」といいます。)と連携してサービスを提供する場合があります。お客様がその希望により外部サービスと連携した当事務局サービスを利用する場合、当事務局は、当該外部サービス提供者への個人情報の提供を行うことがあります。</p>

      <br>
      <p>第9条 (個人情報の開示・共有)</p>
      <p>当事務局は、利用者情報のうち、個人情報については、個人情報保護法その他の法令に基づき開示が認められる場合を除くほか、お客様の承諾がない限り、第三者に開示又は共有することはありません。ただし、以下の場合は例外とします。</p>
      <br>
      <ul>
        <li>当事務局が利用目的の達成に必要な範囲内において個人情報の取扱いの全部又は一部を第三者に委託する場合</li>
        <li>合併その他の事由による事業の承継に伴って個人情報が提供される場合</li>
        <li>国の機関若しくは地方公共団体又はその委託を受けた者が法令の定める事務を遂行することに対して協力する必要がある場合であって、お客様の同意を得ることによって当該事務</li>の遂行に支障を及ぼすおそれがある場合
        <li>統計的情報を提供する目的で、個々の個人情報を集積又は分析し、個人を識別できない形に加工して、その統計データを開示する場合</li>
      </ul>

      <br>

      <p>第10条 (個人情報の開示・訂正等)</p>
      <p>お客様から提供された個人情報について、お客様が開示、訂正、追加、削除を要望する場合、本人確認がなされたときは、当事務局は、合理的な範囲で個人情報の開示等をします。ただし、個人情報保護法その他の法令により、当事務局が開示等の義務を負わない場合はこの限りではありません。</p>

      <br>
      <p>第11条 (お問い合わせ)</p>
      <p>当事務局の個人情報の取扱いに関するご意見、ご質問、苦情のお申出その他個人情報の取扱いに関する事項は、下記までお問い合わせください。</p>

      <p>
      mDoc運営事務局<br>
      E-mail: mdoc.team@gmail.com<br>
      (なお、受付時間は、平日 10時から18時までとさせていただきます。)
      </p>
      <br>
      <p>第12条 (免責)</p>
      <p>当事務局は、以下の場合には、何らの責任を負いません。</p>
      <p>1. お客様ご本人が当事務局サービスの機能又は別の手段を用いて第三者に個人情報を明らかにした場合</p>
      <p>2. お客様が自ら当事務局サービス上に入力した情報等により、個人を識別し得る状態に至った場合</p>

      <br>
      <p>第14条 (本ポリシーの変更)</p>
      <p>
      当事務局は、個人情報の取扱いに関する運用状況を適宜見直し、継続的な改善に努めるものとし、必要に応じて、本ポリシーをお客様の事前の了承を得ることなく変更することがあります。変更後の本ポリシーについては、当事務局が別途定める場合を除いて、当事務局ウェブサイトでの公示後、すぐに効力が発生するものとします。但し、法令上お客様の同意が必要となるような内容の変更を行うときは、当事務局が定める方法により、お客様の同意を取得するものとします。
      </p>
      <br>
      <p>第15条 (その他の注意事項)</p>
      <p>
      当事務局が提供するサービスは、当事務局が管理するサービス以外のサービスへのリンクを含む場合があり、これら外部サービスにおける内容や個人情報の保護については、当事務局は一切責任を負いません。
      </p>
      <p>【2019年3月22日 制定】</p>
    </div>
  </body>
</html>
