<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css">
    <title>mDoc 自分だけのドキュメント管理</title>
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@mDocSupportTeam" />
    <meta property="og:url" content="https://www.mdoc.me" />
    <meta property="og:title" content="mDoc 自分だけのドキュメント管理" />
    <meta property="og:site_name" content="mDoc" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="Markdownで書く、クローズドな自分だけのドキュメント管理ツール" />
    <meta property="og:image" content="https://www.mdoc.me/static/images/mdoc-screenshot-min.jpg" />
    <meta property="fb:app_id" content="2279403225676566" />
    <style type="text/css">
      .google {
        color: #c6594b;
      }
    </style>
  </head>
  <body>
    <main>
      {% block content %}
      {% endblock %}
    </main>
    <footer class="footer">
      <div class="content has-text-centered">
        <a href="{% url 'terms' %}">利用規約</a> |
        <a href="{% url 'privacy_policy' %}">プライバシポリシー</a> |
        <span>Copyright (c) mDoc運営事務局 2019 All Rights Reserved.</span>
      </div>
    </footer>

    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/ja_JP/sdk.js#xfbml=1&version=v3.2&appId=2279403225676566&autoLogAppEvents=1"></script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-136831202-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-136831202-1');
    </script>
  </body>
</html>
